
/* BAGAS WHANTORO */
.img-cover-150{
    width: 150px;height: 150px;object-fit: cover;
}
.img-cover-200{
    width: 200px;height: 200px;object-fit: cover;
}
.img-cover-100{
    width: 100px;height: 100px;object-fit: cover;
}

.loader {
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* buton bunder */
.btn-circle-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px !important;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle-md {
  width: 50px;
  height: 50px;
  padding: 8px 10px;
  border-radius: 35px !important;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px !important;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.colored-toast.swal2-icon-success {
  background-color: #17a037 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #D60808 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #FBCF33 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #2152FF !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
.ct-docs-sidenav-pro-badge {
  text-transform: uppercase;
  float: right!important;
  color: #bd0000;
  background-color: #fc9797;
  font-size: 66%;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  padding: .35rem .375rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 35%
}

/* body {overflow: hidden !important;position: relative;} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  .menu .item{
  position: relative;
  cursor: pointer;
 }

  .menu .item a{
  color: #33363a;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 0px;
  line-height: 60px;
  /* padding: 20px 0; */
 }


  .menu .item i{
  margin-right: 15px;
 }

  .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }

  .menu .item .sub-menu{
  background: #929292;
  display: none;
 }

  .menu .item .sub-menu a{
  padding-left: 80px;
 }

 .rotate{
  transform: rotate(90deg);
 }
#list-nav-nyaa::-webkit-scrollbar{width:0!important}#list-nav-nyaa{overflow:-moz-scrollbars-none;list-style: none;}
@media only screen and (min-width: 768px) {
  .img-card{height: 15vw;object-fit: cover;}.img-card-xl{height: 25vw;object-fit: cover;}.img-card-sm{height: 10vw;object-fit: cover;}
}.notify-badge-img-red{position: absolute;right:15px;
    top:15px;
    background:#ea0606;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 5px;
    font-size:10px;
}.notify-badge-img-green{
    position: absolute;
    right:15px;
    top:15px;
    background:#82d616;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 5px;
    font-size:10px;
}.notify-badge-img-warning{
    position: absolute;
    right:15px;
    top:15px;
    background:#fbcf33;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 5px;
    font-size:10px;
}.icon-button-sm{font-size: 1rem !important;}
.fixed-plugin1 .card {
    position: fixed !important;
    right: -360px;
    top: 0;
    height: 100%;
    left: auto !important;
    transform: unset !important;
    width: 360px;
    border-radius: 0;
    padding: 0 10px;
    transition: .2s ease;
    z-index: 1020;
  }.fixed-plugin1.show .card {
    right: 0;
  }.tombol-ngambang{bottom:20px;right: 30px;}input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}input[type=number] {-moz-appearance: textfield;}
.word-wrap-anywhere{word-wrap: anywhere;}
